.Filter {
  border-bottom: 1px solid #de235b;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.FilterBox1, .FilterBox2 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 10px;
  
}

.FilterBox1 {
}

.FilterAjust {
  margin: 5px;
  flex: 1;
}

.SliderFooter {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #de235b;
}

.ant-slider-track {
  background-color: #de235b;
}

.ant-slider-handle {
  border: solid 2px #de235b;
} 

.ant-slider-handle:focus {
  border: solid 2px #de235b;
}

@media (max-width: 645px) {
  .Filter {
    flex-direction: column;
  }
}