.People, .People > div {
    width: 100%;
}

.infinite-scroll-component {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.UserCard {
    margin: 5px;
}

.LoaderContainer {
    width: 100%;
}

.PeopleFilterBox {
    width: 100%;
    background-color: rgb(230, 235, 239);
    margin-bottom: 10px;
}

.PeopleFilterBoxContent {
    width: 90%;
    border: 1px solid white;
    margin: auto;
}