* {
    padding: 0;
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Content { 
    margin-top: 16px;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}