.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}