.MatcheList {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.Channel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.ChannelName {
    font-weight: 500;
    width: 80%;
    vertical-align: center;
}