.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Profile > section > .box-container {
    margin: 10px;
}

.Profile1, .Profile2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border:1px solid black;
}
  
.ProfileBox {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 50em;
}


.ProfileMatch {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.tags {
    border: 1px solid black;
    padding: 10px;
}