.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile > section > .box-container {
    margin: 10px;
}

.Profile1, .Profile2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    /* border:1px solid black; */
}
  
.ProfileBox {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50em;
}


.ProfileMatch {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;;
    max-width: 250px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.Suggestion {
    display: flex;
    flex-direction: row;
    
}

.YourTags {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 4px;
    padding: 3px;
}

/* Photo */

.SelectFile {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.SwitchNotifBox {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.Delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 4px;
    padding: 3px;
}

.BlockedList {
    
}

.Bye {
    display: flex;
    justify-content: center;
    align-items: center;
}