.Like, .ShowMore {
    background: 0;
    border: 0;
}

.Like {
    color: red;
}

.slick-dots {
    bottom: 0;
}

.UserCardPictures {
    border-radius: 5px 0 0 0;
}

.UserCard .header {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid rgba(59, 57, 57, 0.349);
}

.Biography {
    line-height: 1em;
}

.ShowMore { 
    text-align: right;
    color: rgba(0,0,0,.68);
    font-size: 0.8em;
}

.Hide {
    height: 3em;
    overflow: hidden;
}

.Show {
    height: auto;
}

.Status {
    text-align: right;
    padding-left: 0;
    font-size: 0.6em;
    color: rgba(161, 83, 83, 0.603);
}

.Online {
    color: rgba(38, 173, 38, 0.788);
}

.Information {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-style: italic;
    padding-bottom: 5px;
}

.Tags {
    height: 10px;
    display: flex;
    justify-content: space-around;
}

/* ICONS */
.fa-mars {
    color: blue;
    font-size: 1.3em;
}

.fa-venus {
    color: rgb(233, 77, 103);
    font-size: 1.3em;
}

.fa-transgender-alt {
    font-size: 1.3em;
    color: white;
    background: linear-gradient(to bottom, #0066ff 34%, #ff33cc 54%);
}

.Popularity {
    color: rgb(255, 81, 0);
}